<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>MUTEX Invitation</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- ICONS -->
  <script src="https://use.fontawesome.com/e0f5f46cf3.js"></script>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="<%-base%>/public/assets/css/normalize.css">
  <link rel="stylesheet" href="<%-base%>/public/assets/css/skeleton.css">
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <center>
        <div class="twelve columns" style="margin-top: 10%">
          <img style="width: 500px; height: auto;" src="<%-base%>/public/assets/imgs/mutex.png"/>
          <h4>You are invited</h4>
          <h2 style="text-transform: uppercase;"><%=fullname.substring(0, 25)%></h2>
          <h5 style="text-transform: lowercase"><%=email%></h5>
        </div>
      </center>
    </div>

    <div class="row" style="margin-top: 3%">
      <center>
        <table class="u-full-width">
          <thead>
            <tr>
              <th style="text-align: center;">Invitation Code</th>
              <th style="text-align: center;">Event Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width: 50%; border-right: 1px solid #e1e1e1;"><div style="width: auto; height: 150px;"><%-qr%></div></td>
              <td style="width: 50%;">
                <table style="padding: auto; margin-left: 20%; margin-top: 7%; width: 70%;">
                  <tr>
                    <td style="border-bottom-width: 0px; font-size: 20px;"><i class="fa fa-map-marker"></i></td>
                    <td style="border-bottom-width: 0px;"> Zagazig University, Faculty of Engineering, H1 Hall</td>
                  </tr>
                  <tr>
                    <td style="border-bottom-width: 0px; font-size: 20px;"><i class="fa fa-calendar"></td>
                    <td style="border-bottom-width: 0px;"></i> 25 February, 2017</td>
                  </tr>
                  <tr>
                    <td style="border-bottom-width: 0px; font-size: 20px;"><i class="fa fa-clock-o"></td>
                    <td style="border-bottom-width: 0px;"></i> 10 A.M.</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </center>
    </div>

    <div class="row" style="padding-top: 0">
      <center>
        <table style="height: 190px;">
          <tbody>
            <tr>
              <td style="width=50%;">
                  <img style="height: 90px; widht: auto;" src="<%-base%>/public/assets/imgs/ieee.png"/>
              </td>
              <td style="width: 50%;">
                  <img style="height: 90px; width: auto; " src="<%-base%>/public/assets/imgs/cs.png"/>
              </td>
          </tbody>
        </table>
      </center>
    </div>

    <div class="row" style="margin-top: 0">
      <table class="u-full-width" style="valign: middle;">
        <tbody>
          <td style="border-bottom-width: 0px;">
            Sponsored By:<br>
            <img style="float: left; height: 50px; width: auto;" src="<%-base%>/public/assets/imgs/matar.png"/>
          </td>
          <td style="border-bottom-width: 0px;">
            <p style="float: right;"><i class="fa fa-facebook-official"></i> /IEEEZSB<br>
            <i class="fa fa-envelope"></i> info@ieee-zsb.org<br>
            <i class="fa fa-code"></i> <%=code%><br>
            <i class="fa fa-cog"></i> <%=workshop%></p>
          </td>
        </tbody>
      </table>
    </div>
  </div>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
