<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="assets/img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Mutex</title>

	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/fresh-bootstrap-table.css" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <script src="https://use.fontawesome.com/e0f5f46cf3.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

		<!-- Toastr -->
		<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

</head>
<body>

<div class="wrapper">
    <div class="fresh-table full-color-blue full-screen-table">
    <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
            Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
    -->

        <div class="toolbar">
            <button id="alertBtn" class="btn btn-default">Alert</button>
        </div>

        <table id="fresh-table" class="table">
            <thead>
            	<th data-field="name" data-sortable="true">Name</th>
            	<th data-field="salary" data-sortable="true">Mail</th>
							<th data-sortable="true">Phone</th>
            	<th data-field="country" data-sortable="true">Workshop</th>
            	<th data-field="city">Attended</th>
            	<th data-field="actions" data-formatter="operateFormatter" data-events="operateEvents">Actions</th>
            </thead>
            <tbody>
							<% for (var i = 0; i < list.length; ++i) { %>
                <tr>
                	<td><%=list[i].fullname%></td>
                	<td><%=list[i].email%></td>
									<td><%=list[i].phone%></td>
									<td><%=list[i].acc? ["AI", "Cloud", "IoT"][list[i].acc]: "N/A"%></td>
                	<td><%=list[i].attended? "Yes" : "No"%></td>
                </tr>
							<% } %>
            </tbody>
        </table>
    </div>

</div>


</body>
    <script type="text/javascript" src="/assets/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
    <script type="text/javascript" src="/assets/js/bootstrap-table.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		<script type="text/javascript">
			toastr.options.timeOut = 30;
			toastr.options.positionClass = "toast-bottom-right";
		</script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
		  /*var socket = io();
			socket.on('error', function(id) {
				toastr.error('Error: ' + id);
			});
			socket.on('success', function(req) {
				toastr.info('Success: ' + req.id);
				var $table = $('#fresh-table');
				$table.bootstrapTable('remove', {
						field: 'id',
						values: [req.id]
				});
			});*/
		</script>

    <script type="text/javascript">
        var $table = $('#fresh-table'),
            $alertBtn = $('#alertBtn'),
            full_screen = false,
            window_height;

        $().ready(function(){

            window_height = $(window).height();
            table_height = window_height - 20;


            $table.bootstrapTable({
                toolbar: ".toolbar",

                showRefresh: true,
                search: true,
                showToggle: true,
                showColumns: true,
                pagination: true,
                striped: true,
                sortable: true,
                height: table_height,
                pageSize: 25,
                pageList: [25,50,100],

                formatShowingRows: function(pageFrom, pageTo, totalRows){
                    //do nothing here, we don't want to show the text "showing x of y from..."
                },
                formatRecordsPerPage: function(pageNumber){
                    return pageNumber + " rows visible";
                },
                icons: {
                    refresh: 'fa fa-refresh',
                    toggle: 'fa fa-th-list',
                    columns: 'fa fa-columns',
                    detailOpen: 'fa fa-plus-circle',
                    detailClose: 'fa fa-minus-circle'
                }
            });

            window.operateEvents = {
                'click .like': function (e, value, row, index) {
									socket.emit('accept', {id: row.id, value: true});
                },
                'click .remove': function (e, value, row, index) {
									socket.emit('accept', {id: row.id, value: false});
                }
            };

            $alertBtn.click(function () {
                alert("You pressed on Alert");
            });


            $(window).resize(function () {
                $table.bootstrapTable('resetView');
            });
        });


        function operateFormatter(value, row, index) {
            return [
                '<a rel="tooltip" title="Accept" class="table-action like" href="javascript:void(0)">',
                    '<i class="fa fa-check"></i>',
                '</a>',
                '<a rel="tooltip" title="Decline" class="table-action remove" href="javascript:void(0)">',
                    '<i class="fa fa-remove"></i>',
                '</a>'
            ].join('');
        }

    </script>

</html>
